body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: gray;
}

input {
    font-size: 2em;
    margin-bottom: 30px;
}

.output {
    border: 1px solid #222;
    padding: 30px 15px;
    background-color: #0006;
}